@import "Colors";

.home{
    width: 100%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 0 200px 200px;

    > main {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2rem;
        text-transform: uppercase;
        
    > h1 {
        font: 400 4rem $text;
        color: $first;
        line-height: 1.5;
    }
    > p {
        font: 500 2rem $text;
        color: $first;
    }
    }

    &::before{
        content: " " ;
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url(../assets/1.png);
        filter: blur(3px);
        border-radius: 0 0 180px 180px;
    }
}
.home2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $second;
    padding: 500px 0;
    margin-top: -230px;

    >img{
        width: 35%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    @keyframes imgUp {
        to{
            transform: translateY(-15px);
        }
    }

    > div {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 5rem;

    
        > p {
            color: $first;
            letter-spacing: 1px;
            font: 200 1.3rem $text2;
            line-height: 1.6 !important;
        }
    }


}

.home3{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $second;
    margin-top: -230px;

    > div {
        width: 65%;
        height: 70vh;
        background-color: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

    > h1 {
        text-transform: uppercase;
        border-bottom: 2px solid $dark;
        padding: .5rem;
        width: 15rem;
        color: $dark ;

    }

    > p {
        padding: 3rem;
        line-height: 1.7 !important;
        font: 200 italic 1.3rem $text2;
    }
    }
}

.home4{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: $second;

    > div {
        background-color: $third;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: 70vh;
        border-radius: 200px 0 0 200px;
        padding: 2rem;
       
        > h1 {
            color: $first;
            text-transform: uppercase;
            border-bottom: 2px solid $first;
            width: 140px;
            padding: .5rem;
        }

        > article {
            display: flex;
            flex-wrap: wrap;
            margin: 2rem 0;
            justify-content: center;

        > div {
            animation: imgUp 0.7s linear infinite alternate;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 8rem;
            width: 8rem;
            border-radius: 50%;
            background-color: $first;
            margin: 1rem;
            color: $dark;
            cursor: pointer;
            transition: all .5s;

            &:hover{
                filter: invert(1);
            }
            svg {
                font: 4rem;
            }

            p {
                font: 700 1.2rem $text2;
            }

        }

        }
    }
}